{% extends "voice_effects/layout.html" %}
{% load static %}

{% block body %}

<h1 id="open-source">Open Source</h1>
<p>This project is open source. You can find it&#39;s <a href="https://github.com/chief822/voice_smith" target="_blank">source code here</a>.
I don&#39;t server online APIs for these effects you can integrate them locally yourself.</p>
<p>Voice effects are processed on the server using FFmpeg and my custom voice changer app. You can customize and extend the effects as needed.</p>

<link rel="stylesheet" href="{% static 'voice_effects/index.css' %}">

{% endblock %}
