{% extends "voice_effects/layout.html" %}
{% load static %}

{% block body %}

<h3> Demo audio file </h3>

<audio controls id="demo_audio">
  <source src="{% static 'voice_effects/audio/demo.wav' %}" type="audio/wav">
  Your browser does not support the audio element.
</audio>

<h3> Or use your own audio file </h3>
<p>Maximum file size allowed is <strong>10MB</strong>.</p>
<form action="{% url 'effect' %}" method="POST" enctype="multipart/form-data" target="hidden_iframe" id="form">
  {% csrf_token %}
  {{ form }}
</form>
<p id="message">{% if uploaded %} File uploaded successfully. {% endif %}</p>
<!--forgive me for using legacy method-->
<iframe name="hidden_iframe" id="hidden_iframe"></iframe>
<hr>

{% for effect in effects %}

<ul>
  <li><button data-url="{% url 'effect' %}?effect_name={{ effect.name }}"> {{ effect.name }} </button> — {{ effect.description }}</li>
</ul>

{% empty %}

<div> Failed to get effects </div>

{% endfor %}

<div class="modal-overlay" id="modal">
  <div class="modal-box">
    <button class="modal-close" id="closeModal">&times;</button>
    <h2 id="modal-title">Processing...</h2>
    <audio controls id="modal-player">
    </audio>
    <p id="modal-description"></p>
  </div>
</div>

<script src="{% static 'voice_effects/index.js' %}"></script>
<script src="{% static 'voice_effects/ui.js' %}"></script>
<link rel="stylesheet" href="{% static 'voice_effects/index.css' %}">

{% endblock %}
