{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'voice_effects/styles.css' %}">
    <title>{% block title %} Voice Smith {% endblock %}</title>
</head>
<body>
    <header>
        <h1 class="inline-heading"><a href="{% url 'index' %}">Voice Smith</a></h1>
        <nav>
            <a href="{% url 'index' %}">Home</a> |
            <a href="{% url 'about' %}">About</a>
        </nav>
    </header>
    <hr>
    {% block body %}
    {% endblock %}
</body>
</html>